ENV=development
OPERATOR_CONTRACT=
REGISTRY_CONTRACT=
DISTRIBUTION_CONTRACT=
TOKEN_ID=
OP_EXPLORER_URL=https://sepolia-optimism.etherscan.io/
COINGECKO_URL=https://api.coingecko.com/api/v3/simple/price
