@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overscroll-behavior-y: none;
    @apply w-full h-full font-base bg-black;
  }

  body {
    overscroll-behavior-y: none;
    @apply bg-black text-white;
  }

  input {
    outline: none;
  }
}

@layer components {
  .link-button {
    @apply text-gray-10 hover:text-white font-semibold;
    @apply transition-all duration-500;
  }
}

@layer utilities {
  .f-row-cb {
    @apply flex flex-row items-center justify-between;
  }

  .f-row-cc {
    @apply flex flex-row items-center justify-center;
  }

  .f-row-ce {
    @apply flex flex-row items-center justify-end;
  }

  .f-row-cs {
    @apply flex flex-row items-center justify-start;
  }

  .f-col-ce {
    @apply flex flex-col items-center justify-end;
  }

  .f-col-sb {
    @apply flex flex-col items-stretch justify-between;
  }

  .hover-gray-button {
    @apply bg-gray-70 hover:bg-gray-80 transition-all duration-500;
  }

  .hover-green-button {
    @apply bg-gradient-to-r;
    @apply from-[#8BAF23] via-0% via-[#BCC422] via-0% via-[#AEDF1C] via-0% to-[#D7E02C] to-100%;
    @apply transition-all duration-500;
  }
}
