@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overscroll-behavior-y: none;
    @apply w-full h-full font-base bg-black;
  }

  body {
    overscroll-behavior-y: none;
    @apply bg-black text-white;
  }

  input {
    outline: none;
  }
}

@layer components {
  .link-button {
    @apply text-gray-10 hover:text-white font-semibold;
    @apply transition-all duration-500;
  }

  .mono-gray-button {
    @apply bg-gray-70 hover:bg-gray-80 transition-all duration-500;
  }

  .mono-dim-gray-button {
    @apply bg-gray-80 transition-all duration-500;
  }

  .grad-green-button {
    background: linear-gradient(to right, var(--grad-green-from), var(--grad-green-to));
    transition: --grad-green-from 0.5s, --grad-green-to 0.5s;

    &:hover {
      --grad-green-from: #8BAF23;
      --grad-green-to: #BCC422;
    }
  }

  .grad-green-button-border {
    background: linear-gradient(to right, var(--grad-green-border-from), var(--grad-green-border-to));
    transition: --grad-green-border-from 0.5s, --grad-green-border-to 0.5s;

    &:hover {
      --grad-green-border-from: #D5F772;
      --grad-green-border-to: #F8FF74;
    }
  }
}

@layer utilities {
  .f-row-cb {
    @apply flex flex-row items-center justify-between;
  }

  .f-row-cc {
    @apply flex flex-row items-center justify-center;
  }

  .f-row-ce {
    @apply flex flex-row items-center justify-end;
  }

  .f-row-cs {
    @apply flex flex-row items-center justify-start;
  }

  .f-row-ss {
    @apply flex flex-row items-start justify-start;
  }

  .f-col-ce {
      @apply flex flex-col items-center justify-end;
  }

  .f-col-sb {
    @apply flex flex-col items-stretch justify-between;
  }

  @property --grad-green-from {
    syntax: '<color>';
    initial-value: #AEDF1C;
    inherits: false;
  }

  @property --grad-green-to {
    syntax: '<color>';
    initial-value: #D7E02C;
    inherits: false;
  }

  @property --grad-green-border-from {
    syntax: '<color>';
    initial-value: #E5FF9A;
    inherits: false;
  }

  @property --grad-green-border-to {
    syntax: '<color>';
    initial-value: #FBFFAB;
    inherits: false;
  }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  @keyframes fade-out {
    from { opacity: 1 }
    to   { opacity: 0 }
  }
}
